@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255; /* Couleur du texte */
  --background-start-rgb: 0, 0, 0; /* Couleur de fond de départ */
  --background-end-rgb: 0, 0, 0; /* Couleur de fond de fin */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  background-color: rgb(var(--background-start-rgb)); /* Couleur de fond de secours */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
